@page {
  size: 9.9cm 21cm portrait;
  margin: 0;
}

.activation-document {
  width: 9.5cm;
  height: 21cm;
  position: relative;
  color: #607373;
  font-weight: 500;
  margin-inline: auto;
  font-size: 14px;

  &__activation-code {
    position: absolute;
    top: 10.35cm;
    left: 0.7cm;
  }

  &__cardholder-name {
    position: absolute;
    top: 11.7cm;
    left: 0.7cm;
    white-space: nowrap;
  }

  &__phone-number {
    position: absolute;
    top: 13cm;
    left: 0.7cm;
  }

  &__address {
    position: absolute;
    top: 14.35cm;
    left: 0.7cm;
  }
  &__teaches_at {
    position: absolute;
    top: 15.6cm;
    left: 0.7cm;
  }
}
