.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .hidden {
    display: none;
  }

  .progress {
    color: #777;
    font-size: 0.9rem;
    padding: 20px;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.save-button {
  color: #444;
  cursor: pointer;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #0372c2;
  color: #fff;
  font-size: 16px;
}
@font-face {
  font-family: "IBM Plex Sans Arabic";
  src: url("./assets/fonts/IBM-plex-sans-arabic/IBMPlexSansArabic-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans Arabic";
  src: url("./assets/fonts/IBM-plex-sans-arabic/IBMPlexSansArabic-SemiBold.ttf");
  font-weight: 600;
  font-style: bold;
}
